numpy
pandas
scikit-learn
matplotlib
seaborn
nltk
regex
emoji
pyarabic
arabicstopwords
tensorflow  # If using any deep learning models
transformers  # If using Arabert, Marabert or similar models
gensim  # For Word2Vec
flask  # If you're planning to deploy it as a web application
streamlit  # For creating an interactive web app
