# numpy
# pandas
# scikit-learn
# matplotlib
# seaborn
# gensim  # For Word2Vec
# tensorflow  # If using any deep learning models
# flask  # If you're planning to deploy it as a web application

nltk
regex
emoji
pyarabic 
transformers  # If using Arabert, Marabert or similar models
streamlit  # For creating an interactive web app
openai
google.generativeai
google-cloud-translate
google-auth
torch
joblib
huggingface_hub
